@charset "utf-8";
@import url("test.less");

blockquote {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}

.focus {
	outline: 0
}


.table {
	margin: 0;
	padding: 0;
	outline: 0;
	background: transparent;
}

.container1 {
	width: 80px;
	margin: 0;
}

.container2 {
	width: 160px;
	margin: 0;
}

.container3 {
	width: 240px;
	margin: 0;
}

.container4 {
	width: 320px;
	margin: 0;
}

.container5 {
	width: 400px;
	margin: 0;
}

.container6 {
	width: 480px;
	margin: 0;
}

.container7 {
	width: 560px;
	margin: 0;
}

.container8 {
	width: 640px;
	margin: 0;
}

.container9 {
	width: 720px;
	margin: 0;
}

.container10 {
	width: 800px;
	margin: 0;
}

.container11 {
	width: 880px;
	margin: 0;
}

.container12 {
	width: 960px;
	margin: 0;
}

.column1 {
	width: 60px;
}

.column2 {
	width: 140px;
}

.column3 {
	width: 220px;
}

.column4 {
	width: 300px;
}

.column5 {
	width: 380px;
}

.column6 {
	width: 460px;
}

.column7 {
	width: 540px;
}

.column8 {
	width: 620px;
}

.column9 {
	width: 700px;
}

.column10 {
	width: 780px;
}

.column11 {
	width: 860px;
}

.column12 {
	width: 940px;
}

.column1,.column2,.column3,.column4,.column5,.column6,.column7,.column8,.column9,.column10,.column11,.column12 {
	padding: 0 10px;
}

.column1,.column2,.column3,.column4,.column5,.column6,.column7,.column8,.column9,.column10,.column11,.container1,.container2,.container3,.container4,.container5,.container6,.container7,.container8,.container9,.container10,.container11 {
	float: left;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

.hide {
	display: none !important;
	visibility: hidden !important;
}

.clearfix {
	display: inline-table;
}
