.relativePathWithWhitespaces {
	background-image: url( "path/to/image.png" );
	background-image: url( 'path/to/image.png' );
	background-image: url( path/to/image.png );
}

.specialCharacters {
	background-image: url( path/with/special/character.png);
	background: url( "http://www.cnn.com/news/images/images.png" );
	background: #EEE url("/digital/images/icon-sprite.png") no-repeat 7px 0;
	background: #EEE url("/sites/testsite/digital/images/icon-sprite.png") no-repeat 7px 0;
}